extends ../partials/_layout

block content
  //- beginner: 初級 、 intermediate: 中級 、 advanced: 高級

  -
    var level = {
      beginner: '初階',
      intermediate: '中階',
      advanced: '高階'
    }
    var agenda = {
      '11/04(六)': {
        '101': [
          {time: '08:30 ~ 09:00', name: '會眾報到', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '09:00 ~ 09:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '09:10 ~ 10:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '10:00 ~ 10:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '10:30 ~ 11:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '11:10 ~ 11:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '11:30 ~ 12:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '12:10 ~ 13:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '13:10 ~ 14:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '14:00 ~ 14:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '14:20 ~ 15:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '15:00 ~ 15:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '15:30 ~ 16:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '16:10 ~ 16:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '16:20 ~ 17:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '17:00 ~ 17:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
        ],
        '201': [
          {time: '08:30 ~ 09:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '09:00 ~ 09:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '09:10 ~ 10:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '10:00 ~ 10:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '10:30 ~ 11:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '11:10 ~ 11:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '11:30 ~ 12:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '12:10 ~ 13:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '13:10 ~ 14:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '14:00 ~ 14:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '14:20 ~ 15:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '15:00 ~ 15:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '15:30 ~ 16:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '16:10 ~ 16:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '16:20 ~ 17:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '17:00 ~ 17:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
        ]
      },
      '11/05(日)': {
        '101': [
          {time: '08:30 ~ 08:50', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '08:50 ~ 09:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '09:00 ~ 09:50', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '09:50 ~ 10:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '10:20 ~ 11:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '11:00 ~ 11:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '11:20 ~ 12:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '12:00 ~ 13:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '13:00 ~ 13:50', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '13:50 ~ 14:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '14:10 ~ 14:50', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '14:50 ~ 15:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '15:20 ~ 16:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '16:00 ~ 16:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '16:20 ~ 17:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '17:00 ~ 17:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
        ],
        '201': [
          {time: '08:30 ~ 08:50', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '08:50 ~ 09:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '09:00 ~ 09:50', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '09:50 ~ 10:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '10:20 ~ 11:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '11:00 ~ 11:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '11:20 ~ 12:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '12:00 ~ 13:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '13:00 ~ 13:50', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '13:50 ~ 14:10', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '14:10 ~ 14:50', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '14:50 ~ 15:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '15:20 ~ 16:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '16:00 ~ 16:20', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '16:20 ~ 17:00', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
          {time: '17:00 ~ 17:30', name: '', title: '', slideURL: '', youtube: '', twitter:'', fb: '', level: ''},
        ]
      }
    };

  section#agenda
    nav.navbar-mobile
      a.room-101(href='#101') 101
      a.room-201(href='#201') 201
      a.back-top(href='#agenda')
        i.fa.fa-arrow-up
    .container
      .row
        .col-md-12.date
          - var day = 0;
          each rooms, index in agenda
            - day = day + 1;
            if (day == 1)
              input(type='radio' name='agenda-toggle' id=('day-'+day) value=('day-'+day) checked)
            else
              input(type='radio' name='agenda-toggle' id=('day-'+day) value=('day-'+day))
            label(for='day-'+day) #{index}

          - day = 0;
          each rooms, index in agenda
            - day = day + 1;
            each agendaContents, agendaIndex in rooms
              .col-sm-6(class=('day-'+day))
                h2(id=agendaIndex) #{agendaIndex}
                each content, contentIndex in agendaContents
                  ul.timeline
                    if content.level
                      span.event-level(data-level=level[content.level] class=content.level)

                    li.event(data-date=content.time)
                      if (content.name)
                        h3 #{content.name}
                        h4
                          | #{content.title}
                      else
                        h3(style="border-bottom:none;") TDB
                        p
                          | ---


block css
  link(rel='stylesheet', href='./css/timeline/timeline.css')

block js
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[5].classList.add('active');
    }, 0);
