extends ../partials/_layout

block content
  .container-fluid#sponsors
    each sponsorItems, sponsorIndex in sponsors
      if sponsorItems.length > 0
        .row
          .col-md-12.col-xs-12
            h2.company-name #{tranformName[sponsorIndex].name || sponsorIndex.toUpperCase()}
          each item, index in sponsorItems
            a.sponsor-area(class="col-md-"+tranformName[sponsorIndex].col+" col-xs-12" style="text-decoration:none;"+(item.style?item.style:"") href=item.link title=item.company+(item.description?"\n\n"+item.description:"") target="_blank")
              img.company-logo(src=item.logo)
              if tranformName[sponsorIndex].col > 2
                .company-description
                  | #{item.description}

block js
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[6].classList.add('active');
    }, 0);
